<?php

putenv('TIMEZONE=UTC');
putenv('LANGUAGE=en_US');

putenv("DB_HOST=database");
putenv("DB_PORT=3306");
putenv("DB_DATABASE=cpf");
putenv("DB_USERNAME=cpf");
putenv("DB_PASSWORD=secret");
putenv("CACHE_TEMPLATE=false");
